.campo {
    width: 100%;
}

.fila {
    display: flex;
    align-items: flex-start;
    padding-bottom: 50px;
}

.contenidoFilaIzq {
    width: 100%;
    margin-right: 25px;
}

.contenidoFilaDer {
    width: 100%;
    margin-left: 25px;
}

.texto {
    font-weight: bold;
    color: black;
    opacity: 0.6;
    font-size: 19px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }
  
  .btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 5px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;
    margin-top: 13px;
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }