<div class="div">
<app-toolbar></app-toolbar>

<div class="t">
    <mat-card class="card">
    <div class="cuadro">
      <mat-card class="card2">
            <mat-card-header>
                <mat-card-title class="titulo1"><h1>Solicita un pedido de equivalencias online</h1></mat-card-title>
            </mat-card-header>
          <div class="texto">
            <p class="parrafo1">Si sos un alumno que viene de otra universidad y queres solicitar un pedido equivalencia, ahora podes hacerlo online más rapido y fácil</p>
          </div>
  
          <div clas="img">
            <img  src="../../../assets/Imagenes/equivalencia.png" width="500" height="200">
          </div>
      </mat-card>
    </div>
  
    <div class="cuadro2"> 
        <mat-card class="card3">
            <mat-card-header>
                <mat-card-title class="titulo1"><h1>Consulta con tu código de seguimiento la solicitud que realizaste</h1></mat-card-title>
            </mat-card-header>
        <div class="texto2">
            <p class="parrafo2">Ingresá el código de seguimiento que recibiste al finalizar la solicitud o por email y en que estado está tu solicitud</p>
        </div> 
  
        <div class="imagenes2">
            <img src="../../../assets/Imagenes/codigo.png" width="500" height="300">
        </div>
      </mat-card>
  
    </div>
  </mat-card>
  </div>

</div>