<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Complete sus datos</ng-template>
      <app-menu-principal></app-menu-principal>
      <div class="siguiente">
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Solicite equivalencias</ng-template>
      <app-vista-solicitud-equivalencia></app-vista-solicitud-equivalencia>
      <div class="siguiente">
        <button mat-raised-button color="primary" matStepperNext>Siguiente</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Confirmacion</ng-template>
    <div class="centrar">
      <h2> SE INICIARA LA SOLICITUD DE TRAMITE <br> --------- ¿ CONFIRMA SUS DATOS ? --------- </h2>
    </div>
    <div class="final">
      <div class="izq">
        <button matStepperPrevious mat-fab color="warn" class="probar"><mat-icon class="probar">reply</mat-icon></button>
      </div>
      <!-- <button mat-button (click)="stepper.reset()">Inicio</button> -->
      <div>
        <button mat-fab color="primary"><mat-icon >thumb_up_alt</mat-icon></button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>