.example-card {
    max-width: 400px;
  }
  
  .example-form {
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .titulo {
    padding-bottom: 0px;
    padding-left: 70px;
      color: #1c1aa1;
      font-weight: normal;
      font-size: 11px;
      font-family: Arial;
      text-transform: uppercase;
      text-align: center;
   }
  
   .contenedor {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
  }

  .boton {
    padding-left: 37%;
  }