<div>
  <label>Nombre: {{solicitud.alumno.nombre}}</label>
</div>
<div>
  <label>Apellido: {{solicitud.alumno.apellido}}</label>
</div>
<div>
  <label>DNI: {{solicitud.alumno.dni}}</label>
</div>
<div>
  <label>Legajo: {{solicitud.alumno.legajo}}</label>
</div>
<div>
  <label>Telefono: {{solicitud.alumno.telefono}}</label>
</div>
<div>
  <label>Email: {{solicitud.alumno.email}}</label>
</div>
<div>
  <label>Carrera: {{solicitud.alumno.carrera}}</label>
</div>
<div>
  <h2>Asignaturas UNGS:</h2>
</div>
<div>
  <mat-form-field>
    <mat-select placeholder="Asignaturas UNGS" (selectionChange)=cargarTabla() [(ngModel)]="asignaturaSeleccionada">
      <mat-option *ngFor="let asignatura of asignaturasUNGS" [value]="asignatura">
        {{asignatura.materiaUngs}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)=cargarTabla()>Modificar</button>
</div>
<div>
  <h2>Asignaturas Propuestas:</h2>
</div>
<div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> <h3>Asignatura Propuesta</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>
  
    <ng-container matColumnDef="institutoOrigen">
      <th mat-header-cell *matHeaderCellDef> <h3>Institucion de Origen</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.institutoOrigen}} </td>
    </ng-container>
  
    <ng-container matColumnDef="anoAprobacion">
      <th mat-header-cell *matHeaderCellDef> <h3>Año de Aprobacion</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.anoAprobacion}} </td>
    </ng-container>
  
    <ng-container matColumnDef="cargaHoraria">
      <th mat-header-cell *matHeaderCellDef> <h3>Carga Horaria</h3> </th>
      <td mat-cell *matCellDef="let element"> {{element.cargaHoraria}} </td>
    </ng-container>

    <ng-container matColumnDef="descarga">
      <th mat-header-cell *matHeaderCellDef> <h3>Descarga</h3> </th>
      <td mat-cell *matCellDef="let element"> <mat-icon>save_alt</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    (click)="downloadFile(row)"></tr>
  </table>
</div>
<div>
  <h2>Seguimiento:</h2>
</div>
<div>
  <label>Estado: {{asignaturaSeleccionada.estado}}</label>
</div>
<div>
  <label>Comentario: {{asignaturaSeleccionada.comentario}}</label>
</div>
<div>
  <h2>Modificacion:</h2>
</div>
<div>
  <form [formGroup]="formModificacion">
    <div>
      <mat-form-field>
        <mat-select placeholder="Decision" formControlName="estado" required>
          <mat-option *ngFor="let opcion of opciones" [value]="opcion.value">
            {{opcion.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <textarea matInput placeholder="Razon de tu decision" formControlName="comentario"></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
<div>
  <button mat-raised-button color="primary" (click)=modificar()>Modificar</button>
</div>