<!--The content below is only a placeholder and can be replaced.-->

 <!-- <app-header></app-header>
  <app-formlogindocente></app-formlogindocente>
  <app-footer></app-footer>-->

 <!--<app-form-materia-docente></app-form-materia-docente>-->
 <!-- <app-registrodocentehead></app-registrodocentehead>
  <app-form-registro-docente></app-form-registro-docente>
 <app-registrodocentefooter></app-registrodocentefooter>
-->
<!--<app-login></app-login>-->
<!--<router-outlet></router-outlet>-->
<!--<app-paso-apaso-solicitud></app-paso-apaso-solicitud>-->
<!-- <app-vista-materia></app-vista-materia> -->
<app-vista-aprobacion></app-vista-aprobacion>
