<div class="fila">
  <h1>AGREGAR ADMIN</h1>
</div>
<div class="fila">
  <div class="contenedor">  
    <form [formGroup]="formAdmin">
      <div class="contenido">
        <mat-form-field class="contenido">
          <input matInput placeholder="Nombre" formControlName="nombre" required>
          <mat-error *ngIf="formAdmin.get('nombre').hasError('required')">
            El <strong>nombre</strong> es necesario
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-form-field class="contenido">
          <input matInput placeholder="Apellido" formControlName="apellido" required>
          <mat-error *ngIf="formAdmin.get('apellido').hasError('required')">
            El <strong>apellido</strong> es necesario
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-form-field class="contenido">
          <input matInput placeholder="Email" formControlName="email" required>
          <mat-error *ngIf="formAdmin.get('email').hasError('required')">
            El <strong>email</strong> es necesario
          </mat-error>
          <mat-error *ngIf="!formAdmin.get('email').hasError('required') 
            && formAdmin.get('email').hasError('email')">
            Por favor, ingrese un <strong>email</strong> valido
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-form-field class="contenido">
          <mat-select placeholder="Instituto" formControlName="instituto" required>
            <mat-option *ngFor="let instituto of institutos" [value]="instituto.nombre">
              {{instituto.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-form-field class="contenido">
          <input matInput placeholder="Usuario" formControlName="usuario" required>
          <mat-error *ngIf="formAdmin.get('usuario').hasError('required')">
            El <strong>usuario</strong> es necesario
          </mat-error>
        </mat-form-field>
      </div>
      <div class="contenido">
        <mat-form-field class="contenido">
          <input matInput placeholder="Contraseña" formControlName="contraseña" required>
          <mat-error *ngIf="formAdmin.get('contraseña').hasError('required')">
            La <strong>contraseña</strong> es necesaria
          </mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
</div>
<div class="fila">
  <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
</div>