<app-toolbar></app-toolbar>


<div class="div">

<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title class="titulo"><h1>Tu solicitud:</h1></mat-card-title>
    </mat-card-header>

<div class="todo">
    <div class="formulario" *ngIf="mostrar">
    <div>
        <label class="nombreAtributo">Nombre: </label>
        <label>{{solicitud.alumno.nombre}}</label>
    </div>

    <div>
        <label class="nombreAtributo">Apellido: </label>
        <label>{{solicitud.alumno.apellido}}</label>
    </div>

    <div>
        <label class="nombreAtributo">dni: </label>
        <label> {{solicitud.alumno.dni}}</label>

    </div>

    <div>
        <label class="nombreAtributo">email: </label>
        <label>{{solicitud.alumno.email}}</label>

    </div>

    <div>
        <label class="nombreAtributo">Telefono: </label>
        <label >{{solicitud.alumno.telefono}}</label>

    </div>

    <div>
        <label class="nombreAtributo">Legajo: </label>
        <label >{{solicitud.alumno.legajo}}</label>

    </div>

    <div>
        <label class="nombreAtributo">Carrera:</label>
        <label >{{solicitud.carrera}}</label>
    </div>


    <div>
        <button mat-raised-button (click)="getAnalitico()" color="primary">Descargar analitico</button>
        <button mat-raised-button (click)="getConstancia()" color="primary">Descargar Constancia</button>
    </div>

</div>
    <div class="tabla">
        <app-tabla-consulta></app-tabla-consulta>
    </div>
</div>

</mat-card>
</div>
