

<div *ngIf="mostrar">

<div>
<label>Nombre: {{solicitud.alumno.nombre}}</label>
</div>

<div>
<label>Apellido: {{solicitud.alumno.apellido}}</label>
</div>

<div>
<label>dni: {{solicitud.alumno.dni}}</label>
</div>

<div>
<label>email: {{solicitud.alumno.email}}</label>
</div>

<div>
<label>Telefono: {{solicitud.alumno.telefono}}</label>
</div>

<div>
<label>Legajo: {{solicitud.alumno.legajo}}</label>
</div>

<div>
<label>Carrera: {{solicitud.carrera}}</label>
</div>

</div>

<app-tabla-consulta></app-tabla-consulta>