<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-button [matMenuTriggerFor]="menuSolicitud">Solicitud</button>
    <mat-menu #menuSolicitud="matMenu">
      <button mat-menu-item (click)="totalAsignaturas()">Ver solicitudes</button>
      <button mat-menu-item (click)="verSeguimiento()">Ver Seguimiento</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuDocente">Docente</button>
    <mat-menu #menuDocente="matMenu">
      <button mat-menu-item (click)="registrarDocente()">Registrar Docente</button>
      <button mat-menu-item (click)="asignarAsignaturas()">Asignar asignaturas</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="menuInsituto">Instituto</button>
    <mat-menu #menuInsituto="matMenu">
      <button mat-menu-item (click)="agregarCarreras()">Agregar Carreras</button>
      <button mat-menu-item (click)="agregarAsignaturas()">Agregar Asignaturas</button>
    </mat-menu>
    <button mat-button (click)=salir()>Salir</button>
  </mat-toolbar-row>
</mat-toolbar>

<div *ngIf="mostrarTotalAsignaturas else totalesAsignaturas "></div>
<ng-template #totalesAsignaturas>
  <div>
    <app-ver-total-solicitudes [instituto]="administrador.instituto"></app-ver-total-solicitudes>
  </div>
</ng-template>

<div *ngIf="mostrarAsignarAsignatura else asignarAsiganturas "></div>
<ng-template #asignarAsiganturas>
  <div>
    <app-vista-asignacion-asignaturas [instituto]="administrador.instituto"></app-vista-asignacion-asignaturas>
  </div>
</ng-template>

<div *ngIf="mostrarDocente else registrarDocentes "></div>
<ng-template #registrarDocentes>
  <div>
    <app-sign-in-docente></app-sign-in-docente>
  </div>
</ng-template>

<div *ngIf="mostrarAgregarAsignatura else agregarAsignatura "></div>
<ng-template #agregarAsignatura>
  <div>
    <app-vista-materia [instituto]="administrador.instituto"></app-vista-materia>
  </div>
</ng-template>

<div *ngIf="mostrarVerSeguimiento else verSeguimientos "></div>
<ng-template #verSeguimientos>
  <div>
    <app-form-codigo [visible]="false"></app-form-codigo>
  </div>
</ng-template>

<div *ngIf="mostrarAgregarCarreras else agregarCarrera "></div>
<ng-template #agregarCarrera>
  <div>
    <app-abcarreras [instituto]="administrador.instituto"></app-abcarreras>
  </div>
</ng-template>