<div class="fila">
  <h1>Listado Institutos</h1>
</div>
<div class="fila">
  <div class="izq">
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="instituto" required>
    </mat-form-field>
  </div>
  <div>
    <button mat-raised-button color="primary" (click)="agregar()">Agregar</button>
  </div>
</div>
<div class="fila">
  <table mat-table [dataSource]="datasourse" class="mat-elevation-z8">
    
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
      <th mat-header-cell *matHeaderCellDef> Eliminar </th>
      <td mat-cell *matCellDef="let element"(click)="eliminar(element)" class="clickeable"> <mat-icon>delete</mat-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div class="fila">
  <button mat-raised-button color="primary" (click)="aplicarCambios()">Aplicar Cambios</button>
</div>