<div class="pagCompleta">
<div class="barraCompleta" >
  <mat-toolbar class="barra" >
    <mat-toolbar-row > 
      <span class="titulo">Sistema de equivalencias</span>
      <div class="logoUngs">
          <img src="../../../assets/Imagenes/ungs2.png"  width="120" height="120">
      </div> 
      <div class="btnEquivalencias">
          <button mat-raised-button class="boton1" (click)="equivalencia()" ><mat-icon class="iconoPedirEquivalencias">chrome_reader_mode</mat-icon>Solicitar equivalencias</button>
        </div>
        <div class="btnConsultarEquivalencia">
          <button mat-raised-button class="boton2" ><mat-icon class="iconoSeguimientoEquivalencias">ballot</mat-icon>Seguimiento de equivalencias</button>
        </div>
        <div class="btnLogin">
          <button  mat-raised-button class="boton3"(click)="Login()" ><mat-icon class="iconoLogin">account_circle</mat-icon>Login Personal UNGS</button>
        </div>
    
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="t">
  <div class="cuadro">
    
    <div class="texto">
      <h1 class="titulo1">Solicita un pedido de equivalencias online</h1>
      <p class="parrafo1">Si sos un alumno que viene de otra universidad y quieres solicitar un pedido equivalencia, ahora podes hacerlo online más rapido y fácil</p>
    </div>

    <div clas="img">
      <img  src="../../../assets/Imagenes/equivalencia.png" width="500" height="200">
    </div>

  </div>

  <div class="cuadro2"> 

      <div class="texto2">
          <h1 class="titulo2">¿Solicitaste un pedido de equivalencia?</h1>
          <p class="parrafo2">Ingresá el codigo de seguimiento que recibiste al finalizar la solicitud o por email y en que estado está tu solicitud</p>
        </div> 

      <div class="imagenes2">
          <img src="../../../assets/Imagenes/asd.jpg" width="400" height="300">
     </div>

  </div>

</div>


</div>