<div class="pagCompleta">
<div class="barraCompleta" >
  <mat-toolbar class="barra" >
    <mat-toolbar-row > 
      <span class="titulo">Sistema de equivalencias</span>
      <div class="logoUngs">
          <img src="../../../assets/Imagenes/ungs2.png"  width="120" height="120">
      </div> 
      <div class="btnEquivalencias">
          <button mat-raised-button class="boton1" (click)="equivalencia()" ><mat-icon class="iconoPedirEquivalencias">chrome_reader_mode</mat-icon>Solicitar equivalencias</button>
        </div>
        <div class="btnConsultarEquivalencia">
          <button mat-raised-button class="boton2" (click)="consulta()" ><mat-icon class="iconoSeguimientoEquivalencias">ballot</mat-icon>Seguimiento de equivalencias</button>
        </div>
        <div class="btnLogin">
          <button  mat-raised-button class="boton3"(click)="Login()" ><mat-icon class="iconoLogin">account_circle</mat-icon>Login Personal UNGS</button>
        </div>
    
    </mat-toolbar-row>
  </mat-toolbar>
</div>

</div>