<div class="tabla">

<table mat-table
       [dataSource]="dataSource" multiTemplateDataRows
       class="mat-elevation-z8">

  <ng-container matColumnDef="nombre">
    <th class="asignatura" mat-header-cell *matHeaderCellDef> <h2>Asignatura Solicitada</h2> </th>
    <td mat-cell *matCellDef="let element"> {{element.materiaUngs}} </td>
    <td mat-cell *matCellDef="let element">estado: {{element.estado}} </td>
  </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
      <div class="example-element-detail"
           [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
        <div class="example-element-description">
          <h3>Descripcion:</h3>
          <li *ngFor="let item of element.equivalencias">
            <strong>Asignatura Propuesta : </strong>{{item.nombre}} <strong> Instituto de Origen : </strong>{{item.institutoOrigen}} <strong> Año de Aprobacion : </strong>{{item.anoAprobacion}} <strong> Carga Horaria : </strong>{{item.cargaHoraria}}
          </li>
          <h4>Estado de solicitud:</h4>
          <td><strong>Estado : </strong>{{element.estado}}</td>
          <div>
            <td><strong>Comenario : </strong>{{element.coemntario}}</td>
          </div>
        
          <!--ACA-->
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="getPlanDeEstudio(row)"></tr>

        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let element; columns: columnsToDisplay;"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = element">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

</div>