<form [formGroup]="formCarrera">
  <div class="selectCarrera" *ngIf="!mostrar">
    <mat-form-field class="campo">
      <mat-select placeholder="Carrera" (selectionChange)="cargar($event.value)" >
          <mat-option *ngFor="let Carrera of Carreras" [value]="Carrera.carrera" >
            {{Carrera.carrera}}
          </mat-option> 
      </mat-select>
      <mat-error *ngIf="formCarrera.get('carrera').hasError('required')">
        Por favor, seleccione una <strong>carrera</strong>
      </mat-error>
    </mat-form-field>
  </div>
  
      
    <div class="formMateria">
      
          <mat-form-field class="nombre">
            <input matInput placeholder="Nombre de materia" formControlName="nombreMateria" required>
            <mat-error *ngIf="formCarrera.get('nombreMateria').hasError('required')">
              Los <strong>nombre</strong> son necesarios
            </mat-error>
          </mat-form-field>
     
          <mat-form-field class="horas">
              <input matInput placeholder="Hora semanales de la materia" formControlName="horas" required>
              <mat-error *ngIf="formCarrera.get('horas').hasError('required')">
                Las <strong>hora</strong> son necesarios
              </mat-error>
          </mat-form-field>

          <div class="archivo">
            <input type="file" (change)="leerArchivoPlan($event)" accept=".pdf">
          </div>
          
          <div class="agregar">
              <button mat-flat-button color="primary" (click)="add()" [disabled]='plan === null'>Agregar</button>
          </div>
  
    </div>
    
  </form>
  <div class="tabla">
    <app-tabla-materias></app-tabla-materias>
    <div class="guardar">
      <button mat-flat-button color="primary" (click)="guardar()">Guardar </button>
    </div>
  <div>